body{
    font-family: 'Open Sans', sans-serif;
    background-color: #d8dcd8;
    height: 100vh;
}

@media screen and (max-width: 986px) {
    .menu{
        position: absolute;
        width: 85%;
        max-width: 500px;
        height: 150vh;
        padding-top: 100px;
        background-color: #444444f0;
        z-index: 50;
        top:0;
    }
   
    .showMenu{
        animation: menuAnimation .2s alternate;
    }
    .hideMenu{
        animation: hideAnimation .2s ;
        animation-fill-mode: forwards;
    }
    
    .menu > div{
        margin:10px;
        text-align: center;
        font-size:large;
        color: white;
        border-bottom: 2px solid white;
    }
    .menu > div:hover{
        cursor: pointer;
        font-size:large;
        color: rgb(239, 238, 180);
        transform: translateY(1px);
        border-bottom: 2px solid white;
    }
    
    @keyframes menuAnimation {
        0% {transform: translate(-100%);
        }
        
        100%{
            transform:translateX(0%);
        }

    }
    @keyframes hideAnimation {
        0% {transform: translate(0%);
        }
        
        100%{
            transform:translateX(-100%);
        }

    }
}
