body{
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    background-image: url("../Assets/Images/Subtle-Stripes.svg");
    height: 100%;
}
.container{
    margin-top:70px;
    height:100%;
}
