.bg-light {
    background-color: #573d86 !important;
    font-size: 20px;
    color: rgb(233, 255, 253)!important;
}


.navbar-nav .nav-link {
    color: rgb(233, 255, 253)!important;
    padding-right: 0rem;
    padding-left: 0rem;
    /* color: tomato; */
    /* color: white!important; */
}
.navbar-brand >img{
    max-width: 2.5rem;
    margin-left: .5rem;
    padding:0;
}
.nav-link:focus, .nav-link:hover {
    text-decoration: none;
    outline: none;
    /* color: rgb(239, 238, 180)!important;    */
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 1rem;
    padding-left: 1rem;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: column;
    padding-right: .5rem!important;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
    justify-content: flex-end;
}
.nav-link{
    padding-right: 2rem!important;
    padding-left: 2rem!important;
}
.navbar-brand{
    display: inline-block;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-left: .1rem;
}
.navbar-toggler {
    padding: 0 !important;
    border: 0;
    outline: none;
}
button  img{
    max-width: 40px;
    margin-right: .5rem;
}
.navbar{
    padding: .4rem;
}
.activeLink{
    color: rgb(255, 255, 255)!important;
    background-color: teal!important;
    border-radius: 10px;
    /* border: none; */
}
/* div ul li ,.inactive{
    color: rgb(243, 212, 36);
} */
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    outline: none;
}