.bread-top{
    width:30rem;
    height: 3rem;
    margin: 0 auto;
    background-color: #be6441;
    border-top-left-radius : 12rem;
    border-top-right-radius : 12rem;
}
.layer {
	width: 90%;
	text-align: center;
	font-weight: bold;
	margin: 0 auto;
}
.bread-bottom{
    width:30rem;
    height: 3rem;
    margin: 0 auto;
    background-color: #be6441;
    border-bottom-left-radius : 12rem;
    border-bottom-right-radius : 12rem;
}
.cheese{
    width: 35rem;
    height: .5rem;
    margin: 0 auto;
    background-color: rgb(180, 190, 27);
    border-radius : 40px;
}
.salad{
    width: 35rem;
    height: 1rem;
    margin: 0 auto;
    background-color: green;
    border-radius : 40px;
}
.patty{
    width: 40rem;
    height: 2rem;
    margin: 0 auto;
    background-color: brown;
    border-radius : 40px;
}
.burger{
    margin-top: 20px;
    margin-bottom: 20px;
    overflow:auto;
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}

.burger > div{
    margin-bottom: 10px;
    padding: 10px;
}

 @media screen and (max-width: 650px) {
    
.bread-top{
    width: 40%;
    height: 3rem;
    margin: 0 auto;
}
.bread-bottom{
    width: 40%;
    height: 3rem;
    margin: 0 auto;
}
.patty{
    max-width: 50%;
    height:1rem;
}
.salad{
    max-width: 40%;
    height:1rem;
}
.cheese{
    width: 40%;
    height: 10%;
}

 .burger > div{
    margin-bottom: 5px;
    padding: 10px;
} 
} 